<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <head>
    <title th:text="${title}">Documet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" />
  </head>
  <body>
	<h1 th:text="${title}"></h1>
    <div th:if="${users.isEmpty()}">No tiene elementos de tipo usuario</div>
  	 
  	 <table th:if="${not users.isEmpty()}">
      <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>Email</th>
      </tr>
      <tr th:each="users : ${users}">
        <td th:text="${users.name}"></td>
        <td th:text="${users.lastName}"></td>
        <td th:if="${users.email}" th:text="${users.email}"></td>
        <td th:if="${users.email == null}" th:text="${'n/a'}"></td>
      </tr>	
    </table>
  	 
  </body>
</html>